<div id="legacy-var-main-container" >
    <iframe *ngIf="iframeCookieVersionSrc?.length > 0" style="display:none" width="0px" height="0px" [src]="iframeCookieVersionSrc | safe"></iframe>
    <!-- <iframe class="embed-responsive-item" id="myFrame" #iframe  [height]="containerHeight - 15" width="100%"  [src]="iframeSRC"></iframe> -->
    <iframe *ngIf="iframeSRC?.length > 0" class="embed-responsive-item" id="myFrame" #iframe  height="100%" width="100%" [src]="iframeSRC | safe"></iframe>
</div>
    
    
    
    
    
    
    
    
    
    
    
    
    