<!-- <div *ngIf="!installing" id="archive-main-container"> -->
    <div id="legacy-var-main-container" class="plugin-container">

        <!-- <div id="pluginHeader" class="header-content">
            <div class="content pepperi-border-bottom">
                <div class="left-container spacing-element-negative pull-left flip">
                    <div class="spacing-element title">
                        {{ 'LegacyVar'  }}
                    </div>
                </div>
            </div>
        </div> -->
    
        <!-- <div id="pluginBody" class="main-content" *ngIf="installing == false">
            <div class="content"> -->
                <iframe style="display:none" width="0px" height="0px"  [src]="iframeCookieVersionSrc"></iframe>
                <iframe class="embed-responsive-item" id="myFrame" #iframe  [height]="containerHeight - 15" width="100%"  [src]="iframeSRC"></iframe>
            <!-- </div>
        </div> -->
    
    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    